/*  your css code here. If applicable */
h1{
	color:#2a7ae2;
	text-transform:capitalize;
}
h2{
	color:#f44336;
	text-transform:capitalize;
}
h3{
	color:#4caf50;
	text-transform:capitalize;
}
h4{
	color:#ff9800;
	text-transform:capitalize;
}
h5{
	color:#607d8b;
	text-transform:capitalize;
}
h6{
	color:#ffeb3b;
	text-transform:capitalize;
}